.footer-bg {
  height: 80vh;
  margin-top: 32px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img-container {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer-card-img {
  flex-shrink: 0;
  width: 35%;
  height: 150px;
  opacity: 0.6;
  border-radius: 5px;
}

.footer-card-float-img {
  width: 40%;
  height: 175px;
  border-radius: 5px;
  position: absolute;
  align-self: center;
  margin-left: 30%;
  z-index: 2;
}

.transform-left {
  transform: rotateZ(-10deg);
}

.transform-right {
  transform: rotateZ(10deg);
}

.create-character-title {
  color: rgb(14, 13, 13);
  font-size: 22px;
  font-weight: normal;
  margin-top: 48px;
}

.create-character-description {
  color: rgb(14, 13, 13);
  font-size: 14px;
  font-weight: normal;
  opacity: 0.7;
  text-align: center;
}

.footer-create-character-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 18px;
  background-color: rgb(14, 13, 13);
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-create-character-btn:hover {
  opacity: 0.8;
}

.footer-link {
  color: rgb(14, 13, 13);
  opacity: 0.6;
  font-size: 16px;
  font-weight: 500;
  margin: 0px 10px;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  opacity: 1;
  text-decoration: none;
}
